html {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Zilla Slab', serif;*/
    line-height: 1.5;
}
h1 {
    font-family: 'Vollkorn SC', serif;
    text-align: center;
    margin: 0;
    font-size: 50px;
}
h2 {
    font-size: 18px;
}
li {
    font-size: 16px;
}
body {
    background: #6981929d url(wallpaper.jpg); /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
    background-size: cover;
}
footer {
    position: fixed;
    bottom: 0;
    left: 500;
    width: 100%;
    height: 90px;
    font-size: 30px;
    text-align: center;
}
.blocks {
    display: flex;
}
.work {
	width: 500px;
	height: 100px;
	display: inline-block;
    vertical-align: middle;
	margin-left: 35px;
}
.uni { 
    width: 500px;
	height: 100px;
	display: inline-block;
    vertical-align: middle;
	margin-left: 35px;   
   } 
.js { 
    width: 500px;
	height: 100px;
	display: inline-block;
    vertical-align: middle;
	margin-left: 35px;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: rgb(214, 47, 75);
}
a:active {
    text-decoration: underline;
}